# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gradle & Java build files
.gradle/
/build/
out/
.idea/
*.iml
*.ipr
*.iws

# Loom caches
.loom/

# OS files
.DS_Store
Thumbs.db
